src/test/TestDBConnection.java
out/

src/db/db.properties
# IntelliJ IDEA
.idea/
*.iml

# VS Code / SQL tools
.vs/

# OS
.DS_Store
Thumbs.db

# Excel temp files
~$*.xlsx


src/test/TestGiaoDichVeBUS.java

src/test/TestKhuyenMaiBUS.java

/nbproject/private/
/build/
/dist/

src/test/TestBUS.java

